@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 10px;
    margin-top: 200px;
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
}
body main p strong {
    color: blue;
}

.titulo-destaque {
    color: aquamarine;
}

h1{
    color: white;
}

p{
    color: white;
}

.imagem-1{
    height: 200px;
    width: 400px;
    /**position: absolute; */
    /**left: 800px;
    top: 253px; */
}


*{
    margin: 0;
    padding: 0;
}

.container__conteudo{
    /**position: absolute; */
    width: 600px;
    height: 482px;
    /**left: 150px;
    top: 278px; */
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.container__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.container__conteudo__titulo__escrita{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 150px;
    top: 400px;
}
#insta{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 140px;
    top: 540px;
    width: 280px;
    background-color: #22d4fd;
    font-size: 24px;
    border-radius: 16px;
    padding:21.5px 0 ;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.botaogit{
    /**display:flex;
    justify-content: center;*/
    
    position:absolute;
    text-align: center;
    width: 280px;
    left: 450px;
    top: 540px;
    background-color: #22d4fd;
    font-size: 24px;
    border-radius: 16px;
    padding:21.5px 0 ;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#git{
    color: black;
}


.botaozona{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}






.acesse{
    display:flex;
    color: white;
    padding: 10px;



}